<form action="/authors/add" method="post">
  <label for="author-name">Name:</label>
  <input type="text" name="name" id="author-name"/>

  <label for="author-lastName">Last Name:</label>
  <input type="text" name="lastName" id="author-lastName"/>

  <label for="author-nationality">Nationality:</label>
  <input type="text" name="nationality" id="author-nationality"/>

  <label for="uthor-birthday">Birthday:</label>
  <input type="date" name="birthday" id="author-birthday"/>

  <label for="author-picture">Picture Url</label>
  <input type="text" name="pictureUrl" id="author-picture"/>

  <button type="submit">Add</button>
</form>